[Unit]
Description=Pirate Audio service
After=multi-user.target

[Service]
ExecStart=/bin/sh -c '/home/pi/venv/bin/python /home/pi/pirate-mp3-enhanced_options/mp3/main.py >> /var/log/pirate-mp3.log 2>&1'
Restart=always
User=root

[Install]
WantedBy=multi-user.target
